# ───────── OPERATIONAL MODE ─────────
# Supported modes: 'db' (MySQL), 'dir' (Directory scanning), 'api' (External API poll)
PROCESS_MODE=dir

# ───────── MYSQL DATABASE CONFIGURATION (db mode) ─────────
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=sqladmin
DB_NAME=czentrix_campaign_manager
DB_PORT=3306

# ───────── DIRECTORY SCANNING CONFIGURATION (dir mode) ─────────
SCAN_DIRECTORY_PATH=/var/www/html/2026_04_21

# ───────── EXTERNAL API CONFIGURATION (api mode) ─────────
SOURCE_API_URL=http://example.com/api/get-recordings
SOURCE_API_METHOD=GET
SOURCE_API_HEADERS={"Content-Type": "application/json"}
SOURCE_API_BODY={}



# ───────── TRANSCRIPTION SERVICE CONFIGURATION ─────────
TRANSCRIPTION_API_URL=http://192.168.1.219:8023/api/v1/transcribe
TRANSCRIPTION_STATUS_URL=http://192.168.1.219:8023/api/v1/status

# ───────── QA MODULE API CONFIGURATION ─────────
QA_API_BASE_URL=https://api-dev.tvtworld.com/api/v1
QA_TENANT_SLUG=testing
QA_EMAIL=testing@c-zentrix.com
QA_PASSWORD=Password@123

# ───────── MEDIA AND SERVER CONFIGURATION ─────────
SERVER_DOMAIN=http://192.168.1.219
QA_TOPIC=connectivity
QA_SOURCE=app_mqji9bzivusp

# ───────── CELERY & REDIS CONFIGURATION ─────────
CELERY_BROKER_URL=redis://127.0.0.1:6379/2
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/2

# ───────── OPERATIONAL CONFIGURATION ─────────
POLL_INTERVAL_SECONDS=60
